*{
	margin: 0px;
	padding: 0px;
}
div{
	width: 170px;
}
#div1{
	top: 60px;
	left: 100px;
	position: absolute;
}
input[type="button"]{
	width: 30px;
	margin-right: 5px;
	margin-top: 5px;
}
input[type="text"]{
	width: 140px;
	padding-right: 5px;
	text-align: right;
	background-color: #fff;
	border: 1px solid;
}
input[type="button"]:hover{
	background-color: white;
	border: 1px solid;
}